{
  "SQL_DB_NAME": "teslacloud",
  "SQL_HOST": "db",
  "SQL_USER": "exampleusername",
  "SQL_PASS": "examplesqlpasswd",
  "OPENWX_KEY": "openwxapikey",
  "BREVO_KEY": "brevoapikey",
  "FINNHUB_KEY": "finnhubapikey"
}
